
body {
  background: #f8f8f8;
  color: #111111;
  font-family: sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.4em;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #e5e5e5; 
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.base {
  width: 100%;
  height: auto;
  clear: both;
  margin: 0 auto;
  padding-bottom: 4em;
  overflow: hidden;
}

.blog-box {
  background: #fff;
  border: 1px solid lightgrey;
  min-height: 150px;
  width: 100%;
  margin-top: 1em;
  border-radius: 0.5em;
  padding: 1em;
}

.title {
  font-size: 2em;
}

.input-label {
  font-size: 1.5em;
  margin-top: 1em;
}

.comments-box {
  background: #f5f5f5;
  border: 1px solid lightgrey;
  margin-top: 2em;
  border-radius: 0.5em;
  padding: 1em;
}

.comments-box input, textarea, button {
  font-size: 1em;
  padding: 0.2em;
  border-radius: 0.2em;
}

.comments-box .input-label {
  font-size: 1em;
}

input, textarea, button {
  font-size: 1em;
  padding: 0.2em;
  border-radius: 0.2em;
  border: 1px solid lightgrey;
}

textarea {
  min-width: 350px;
  min-height: 100px;
}

button {
  display: block;
  margin-top: 15px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 40px;
  background: #0984e3;
  color: white;
}

a {
 cursor: pointer;
 text-decoration: underline; 
}

.page-link {
  display: block;
  text-align: center;
  margin-top: 1em;
  color: #202020;
}

.ajax-icon {
  height: 48px;
  width: 48px;
  margin: 10px auto;
  display: block;
}

.not-found {
  color: red;
  font-size: 1.5em;
  text-align: center;
}

.post-box {
  margin-top: 1em;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.title a {
  color: #202020;
}

.user-email, .date {
  color: grey;
  font-size: 0.9em;
}

.content {
  margin-top: 0.3em;
  font-size: 1.3em;
}

.comment-box {
  margin-top: 1em;
}

.comment-content {
  font-size: 1em;
}

.no-content-message {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.elm-error {
  border: 1px solid red;
}

.message-error {
  color: red;
}

.form-message-error {
  text-align: center;
  color: red;
  font-family: sans-serif;
}

@media only screen and (min-width: 700px) {
  .base {
    width: 700px;
  }
}
